body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    font-size: 44px;
}

.container {
    width: 90%;
}

.component {
    border: 1px solid #9e9e9e;
    border-radius: 5px;
}

.component_title{
    font-size: 20px;
}

.label {
    margin-bottom: 15px;
    color: #9e9e9e;
    font-size: 15px;
}

.vertSlider {
    height: 120px;
}

.noUi-value-vertical {
    margin-top: -10px;
}

[type="radio"]:checked+label:after {
    border-color: #6a1b9a;
    background-color: #6a1b9a;
}

.switch label input[type=checkbox]:checked+.lever{
    background-color: #ce93d8; 
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: #6a1b9a;   
}

.select-wrapper ul li span{
    color: #6a1b9a;   
}